.sider-layout{
  height: 100vh;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
