/* Global */
img {
  max-width: 100%;
}
/* Main.js */
.layout {
  height: 100vh;
}

.layout__logo {
  height: 32px;
  background: #444;
  border-radius: 6px;
  margin: 16px;
}

.layout__header {
  background-color: #fff;
  padding: 0;
}

.layout__header__right {
  float: right;
}

.layout__header__right a {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 20px;
  color: #595959;
  text-decoration: none;
}

.layout__header__right a:hover {
  background-color: #fafafa;
}

.layout__header__right__name {
    margin-left: 5px;
}

.layout__content {
  margin: 24px 16px;
  padding: 24;
  background: #fff;
  min-height: auto;
}

/* ArticleForm.js */
.article__cover-uploader > .ant-upload {
  width: 100%;
}
.article__markdown-preview {
  min-height: 430px;
  max-height: 535px;
  overflow-y: auto;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
  word-break: break-all;
}

/* SettingPersonal.js 页面 CSS */
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
